//compila
.cursor-pointer{
  cursor: pointer;
}
.cursor-pointer:hover {
  background-color:#d6d6d6;
}
.border-bottom {
  padding-top: 20px;
}
.list-group-item {

  border: 0px solid #fff;
}
h5 {
  font-family: Montserrat;
}
body {
  font-family: Roboto;
}
